<div class="main-container" style="background-image: url('../../../assets//easimedicbackground.png');">
    <app-app-header></app-app-header>
    <div class="search-container-center" style="margin-top:90px;">
        <div class="get-started">
            <h1  *ngIf="hashtags"class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white"
                style="color:#ffffff">
                <span class="text-blue-600 dark:text-blue-500">{{hashtags?.length}}</span> trends.
            </h1>
            <!-- <p class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400 browse-friends-p">Filter friends
                by category below to
                get started
            </p> -->
        </div>

        <app-search [placeholder]="'Search trending topics...'"></app-search>
        <div class="get-started" *ngIf="hashtags">
            <dl class="max-w-md text-white-900 divide-y divide-white-200 dark:text-white dark:divide-gray-700" style="cursor: pointer;" *ngFor="let trend of hashtags | slice:0:10">
                <div (click)="ViewTrendingDetails(trend.hashtag)" class="flex flex-col pb-3">
                    <dd class="text-lg font-semibold" style="color:#1da1f2 !important">{{trend.hashtag}}</dd>
                    <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">{{trend.count}} posts</dt>
                </div>
            </dl>
        </div>
        <div class="get-started" *ngIf="!trending">
            <div role="status" class="space-y-2.5 animate-pulse max-w-lg" style="width:100%">
                <div class="flex items-center w-full">
                    <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-32"></div>
                    <div class="h-2.5 ms-2 bg-gray-300 rounded-full dark:bg-gray-600 w-24"></div>
                    <div class="h-2.5 ms-2 bg-gray-300 rounded-full dark:bg-gray-600 w-full"></div>
                </div>
                <div class="flex items-center w-full max-w-[480px]">
                    <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-full"></div>
                    <div class="h-2.5 ms-2 bg-gray-300 rounded-full dark:bg-gray-600 w-full"></div>
                    <div class="h-2.5 ms-2 bg-gray-300 rounded-full dark:bg-gray-600 w-24"></div>
                </div>
                <div class="flex items-center w-full max-w-[400px]">
                    <div class="h-2.5 bg-gray-300 rounded-full dark:bg-gray-600 w-full"></div>
                    <div class="h-2.5 ms-2 bg-gray-200 rounded-full dark:bg-gray-700 w-80"></div>
                    <div class="h-2.5 ms-2 bg-gray-300 rounded-full dark:bg-gray-600 w-full"></div>
                </div>
                <div class="flex items-center w-full max-w-[480px]">
                    <div class="h-2.5 ms-2 bg-gray-200 rounded-full dark:bg-gray-700 w-full"></div>
                    <div class="h-2.5 ms-2 bg-gray-300 rounded-full dark:bg-gray-600 w-full"></div>
                    <div class="h-2.5 ms-2 bg-gray-300 rounded-full dark:bg-gray-600 w-24"></div>
                </div>
                <div class="flex items-center w-full max-w-[440px]">
                    <div class="h-2.5 ms-2 bg-gray-300 rounded-full dark:bg-gray-600 w-32"></div>
                    <div class="h-2.5 ms-2 bg-gray-300 rounded-full dark:bg-gray-600 w-24"></div>
                    <div class="h-2.5 ms-2 bg-gray-200 rounded-full dark:bg-gray-700 w-full"></div>
                </div>
                <div class="flex items-center w-full max-w-[360px]">
                    <div class="h-2.5 ms-2 bg-gray-300 rounded-full dark:bg-gray-600 w-full"></div>
                    <div class="h-2.5 ms-2 bg-gray-200 rounded-full dark:bg-gray-700 w-80"></div>
                    <div class="h-2.5 ms-2 bg-gray-300 rounded-full dark:bg-gray-600 w-full"></div>
                </div>
                <span class="sr-only">Loading...</span>
            </div>

        </div>
    </div>
</div>