.w-72{
    width:100%;
    border-radius: 6px;
    box-shadow: 8px 13px 13px 3px rgba(232,232,232,0.33);
    -webkit-box-shadow: 8px 13px 13px 3px rgba(232,232,232,0.33);
    -moz-box-shadow: 8px 13px 13px 3px rgba(232,232,232,0.33);
}

.limit-lines {
    display: -webkit-box;
  -webkit-line-clamp: 3; /* Adjust the value to control the number of lines displayed */
  -webkit-box-orient: vertical;
  overflow: hidden;
  }

  .hashtag {
    color: #1da1f2;
  }
  .url {
    color: #165aec;
    text-decoration: underline;
    cursor: pointer; 
  }

  .image-user{
   height: 60px;
    width: 60px;
    border-radius: 100%;
  }

  .paragraph-text{
    color:rgb(147, 147, 147)
  }

  .images-container{
    margin-top:6px
  }

  .w-72{
    border-width: 0.2px;
    border-color: #f2f2f2;
  }

  .flex.items-center.w-full.mt-3.text-xs.font-medium.text-gray-400{
    background-color:#333d4305;
    padding:5px;
    border-radius:40px
  }

  .relative.flex.flex-col.items-start.p-4.mt-3.bg-white.rounded-lg.cursor-pointer.bg-opacity-90.group.hover\:bg-opacity-100{
    background-color: #333d43;
  }

  .flex.flex-col.pb-2.overflow-auto {
    background-color: #333d43;
    border-radius: 8px;
}
  