.main-container {
    // background-color: rgb(243, 243, 243) !important;
    height: 100% !important;
    min-height: 100vh;
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    // background-image: url("../../../assets//easimedicbackground.png");
}

.contain-icons{
    position: absolute;
    bottom:0;
    left:0;
    margin-bottom:100px;
    margin-left:20px;
    display: flex;
    flex-direction: column;
}

.main-container-wraper{
width:100%
}

// input[type=text] {
//     border: none;
//     background-color: none;
//     outline: 0;
//     font-size: 25px;
//     width: 100%;
//     text-align: center;
//     word-wrap: break-word;
//     // height: 30px;
//   }
  
//   input[type=text]:focus {
//     border: none;
//     background-color: none;
//     outline: 0;
//     width: 100%;
//     text-align: center;
//     word-wrap: break-word;
//     // height: 30px;
//   }
  
//   .center { 
//     height: 40px;
//     width: 300px; 
//     overflow: auto;
//     margin: auto; 
//     position: absolute;
//     top: 0; left: 0; bottom: 0; right: 0; 
//   }
  
#hint{
    font-size: 18px;
}
  input::placeholder {
    color: #fff; /* Replace with your desired color code */
    word-wrap: break-word;
    // width:60vw;
  }

  .header-section{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    padding:18px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    align-content: center;
}

.user-details{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.user-name{
    color:white;
    padding-right:12px
}

.cursor-blink {
    border-left: 2px solid white;
    animation: blink 1s infinite;
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }