<div #mainContainer [ngStyle]="{ 'background-color': backgroundColor, 'background-image': backgroundImage }"
    class="main-container">
    <div class="header-section">

        <div class="back" style="cursor: pointer;" (click)="navigateBack()">
            <svg class="h-8 w-8 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
            </svg>

        </div>
        <div class="flex-shrink-0 user-details">
            <svg *ngIf="showImageBackground" style="margin-right:12px;cursor:pointer" (click)="triggerImageInput()"
                class="h-8 w-8 text-white" width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" />
                <path
                    d="M5 7h1a2 2 0 0 0 2 -2a1 1 0 0 1 1 -1h6a1 1 0 0 1 1 1a2 2 0 0 0 2 2h1a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-9a2 2 0 0 1 2 -2" />
                <circle cx="12" cy="13" r="3" />
            </svg>
            <button (click)="showImageBackground ? uploadImageStory():uploadTextStory()"
                class="text-sm font-medium text-gray-900 truncate dark:text-white user-name" style="cursor: pointer;background: white;
            padding: 4px;
            border-radius: 12px;margin-right:5px;color:black">Upload story</button>
            <!-- <h1 class="text-sm font-medium text-gray-900 truncate dark:text-white user-name">{{currentUser?.name}}</h1> -->
            <img class="w-16 h-16 rounded-full" src="{{currentUser?.image}}" alt="Neil image">
        </div>
    </div>

    <div class="main-container-wrap">
        <input #imageInput type="file" accept="image/*" multiple style="display: none"
            (change)="onImageSelected($event)">
        <div class="main-container">
            <div *ngIf="!showImageBackground" id="editable-div" [ngClass]="{ 'cursor-blink': showCursor }"
                contenteditable
                style="color: white; width: 100%; padding: 8px; min-height: 40px; white-space: pre-wrap; max-width: 60vw; font-size: 29px; outline: none; min-width: 200px; background-color: transparent; word-wrap: break-word;"
                placeholder="Start typing here." (input)="onInput($event)"></div>
            <!-- <div  *ngIf="!showImageBackground && storyTextValue === ''" id="hint" style="color: #ffffff76; position: absolute; pointer-events: none;">
                Start typing here.
              </div> -->

            <div *ngIf="showImageBackground" class="addImageHere"
                style="color: #ffffff76; position: absolute; pointer-events: none;align-items: center;display: flex;justify-content: center;flex-direction: column;">
                <h1>Click camera on the top right to add photo</h1>
                <button style="cursor: pointer;z-index: 99999999;" (click)="triggerImageInput()">

                    <div style="background-color: transparent!important;"
                        class="flex items-center justify-center w-full h-48 bg-gray-300 rounded sm:w-96 dark:bg-gray-700">
                        <svg class="w-10 h-10 text-gray-200 dark:text-gray-600" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
                            <path
                                d="M18 0H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm4.376 10.481A1 1 0 0 1 16 15H4a1 1 0 0 1-.895-1.447l3.5-7A1 1 0 0 1 7.468 6a.965.965 0 0 1 .9.5l2.775 4.757 1.546-1.887a1 1 0 0 1 1.618.1l2.541 4a1 1 0 0 1 .028 1.011Z" />
                        </svg>
                    </div>
                </button>
            </div>
            <div class="contain-icons">
                <!-- Your buttons here -->
            </div>
        </div>
    </div>
    <div class="contain-icons">
        <Button (click)="typeOfStory('ImageStory')" style="margin-bottom:22px">
            <svg class="h-10 w-10 text-white" width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" />
                <line x1="15" y1="8" x2="15.01" y2="8" />
                <rect x="4" y="4" width="16" height="16" rx="3" />
                <path d="M4 15l4 -4a3 5 0 0 1 3 0l 5 5" />
                <path d="M14 14l1 -1a3 5 0 0 1 3 0l 2 2" />
            </svg>
        </Button>
        <Button (click)="typeOfStory('TextStory')">
            <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white"
                style="color:white">T</h1>
        </Button>
        <Button (click)="switchBackgroundColorPalette()">
            <svg class="h-10 w-10 text-white" width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" />
                <path d="M3 21v-4a4 4 0 1 1 4 4h-4" />
                <path d="M21 3a16 16 0 0 0 -12.8 10.2" />
                <path d="M21 3a16 16 0 0 1 -10.2 12.8" />
                <path d="M10.6 9a9 9 0 0 1 4.4 4.4" />
            </svg>
        </Button>
    </div>
</div>