.main-container {
  background-color: rgb(243, 243, 243) !important;
  height: 100% !important;
  min-height: 100vh;
  width: 100% !important;
  // background-image: url("../../../assets//easimedicbackground.png");
  background-color: #efefef;
  overflow: hidden;
}


.button-save{
  margin-left:8px;
  margin-top:4px;
}

.button-discard{
  margin-top:4px;
  margin-left:8px;
  background-color: #cbcbcb!important;
}

.pb-full {
    padding-bottom: 100%;
  }
  
  /* hide search icon on search focus */
  .search-bar:focus + .fa-search {
    display: none;
  }

  @media screen and (min-width: 768px) {

    /* Apply these styles on screens larger than or equal to 768px wide (tablets and desktops) */
    .get-started {
        padding-left: 10px;
        padding-right: 10px;
    }
    .get-started-input {
        padding-left: 148px;
        padding-right: 148px;
    }
    .md\:grid-cols-4 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .md\:grid-cols-3 {
      background-color: rgba(105, 105, 105, 0.0705882353);
      padding: 54px;
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr))!important;
      /* margin-right: 148px; */
      /* margin-left: 148px; */
      border-radius: 12px;
  }
}

  

  .get-started {
    padding: 22px;
    margin-top:120px
}

@media screen and (min-width: 768px) {

    /* Apply these styles on screens larger than or equal to 768px wide (tablets and desktops) */
    // .get-started {
    //     padding-left: 170px;
    //     padding-right: 170px;
    // }
}

.text-white{
    color:white
}

.border-pink-600{
  color:white!important;
  border-color: white!important;
}

.melachat-background-color{
    background-color: #1da1f2;
}

.md\:border-gray-700 {
  color: #1da1f2!important;
  border-top: 1px solid #1da1f2; /* Replace with the desired color code for gray-700 */
}
.get-started-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.padding-top-text{
  padding-top:22px;
  padding-bottom:22px;
}


:host ::ng-deep {
  .md\:grid-cols-3 {
    background-color: rgba(105, 105, 105, 0.0705882353);
    padding: 54px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin-right: 8px;
    margin-left: 8px;
    border-radius: 12px;
}
  @media screen and (min-width: 768px) {
  .md\:grid-cols-3 {
    background-color: rgba(105, 105, 105, 0.0705882353);
    padding: 54px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin-right: 8px;
    margin-left: 8px;
    border-radius: 12px;
}

.grid-pricelist{
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
  }
}

@media (min-width: 200px) and (max-width:450px) {
  .get-started[_ngcontent-ng-c2728441069] {
    padding: 12px;
    margin-top: 120px;
}
.md\:grid-cols-3 {
  padding: 0px;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  margin-right: 2px;
  /* margin-left: 2px; */
  border-radius: 12px;
}
.button-group{
  margin:12px;
  margin-left:-8px
}
}

@media (min-width: 200px) and (max-width:450px) {
  .news-grid {
      grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .get-started{
      padding: 6px;
  }
  .grid-pricelist{
    display: contents;
    
  }
}

header.flex.flex-wrap.items-center.p-4.md\:py-8 {
  background-color: #333d43;
  border-radius: 12px;
}