<div class="main-container" style="height:100vh">
    <app-app-header></app-app-header>

    <div class="get-started">
        <main>

            <div class="lg:w-8/12 lg:mx-auto mb-8">

                <header class="flex flex-wrap items-center p-4 md:py-8">

                    <div class="md:w-3/12 md:ml-16">
                        <!-- profile image -->
                        <img *ngIf="!editUser" class="w-20 h-20 md:w-40 md:h-40 object-cover rounded-full
                       border-2 border-pink-600 p-1" src="{{currentUser?.image}}" alt="profile" style="color:white">
                        <img *ngIf="editUser" class="w-20 h-20 md:w-40 md:h-40 object-cover rounded-full
                       border-2 border-pink-600 p-1" src="{{selectedImageString ? selectedImageString : 'https://t4.ftcdn.net/jpg/05/42/36/11/360_F_542361185_VFRJWpR2FH5OiAEVveWO7oZnfSccZfD3.jpg'}}" alt="profile"  style="color:white">
                        <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" #imageInput type="file" accept="image/*" multiple style="display: none"
                            (change)="onImageSelected($event)">
                        <svg  *ngIf="editUser" (click)="triggerImageInput()" class="h-8 w-8 text-white" viewBox="0 0 24 24" fill="none"
                            stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path
                                d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z" />
                            <circle cx="12" cy="13" r="4" />
                        </svg>
                    </div>

                    <!-- profile meta -->
                    <div class="w-8/12 md:w-7/12 ml-4">
                        <div class="md:flex md:flex-wrap md:items-center mb-4">
                            <h2 *ngIf="!editUser"
                                class="text-3xl inline-block font-light md:mr-2 mb-2 sm:mb-0 text-white">
                                {{currentUser?.name}}
                            </h2>
                            <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" [formControl]="UserNameFormControl" style="margin:6px;color:black" *ngIf="editUser" placeholder="Enter your name here" />

                            <!-- badge -->

                            <!-- follow button -->
                            <a *ngIf="!editUser" (click)="EditUser()" class="bg-blue-500 px-2 py-1 
                          text-white font-semibold text-sm rounded block text-center 
                          sm:inline-block block text-white melachat-background-color">Edit Profile</a>
                            <a *ngIf="editUser" (click)="saveUserDetails()" class="bg-blue-500 px-2 py-1 
                          text-white font-semibold text-sm rounded block text-center 
                          sm:inline-block block text-white melachat-background-color button-save">Save Profile</a>
                            <a *ngIf="editUser" (click)="close()" class="bg-blue-500 px-2 py-1 
                          text-white font-semibold text-sm rounded block text-center 
                          sm:inline-block block text-white button-discard">Discard</a>
                            
                        </div>

                        <!-- post, following, followers list for medium screens -->
                        <ul class="hidden md:flex space-x-8 mb-4">
                            <li style="color:grey">
                                <span class="font-semibold text-white" style="color: #000;">0</span>
                                posts
                            </li>

                            <li style="color:grey">
                                <span class="font-semibold text-white" style="color: #000;">{{currentUser?.friends?.length}}</span>
                                friends
                            </li>
                            <!-- <li style="color:grey">
                            <span class="font-semibold text-white">302</span>
                            following
                        </li> -->
                        </ul>

                        <!-- user meta form medium screens -->
                        <div class="hidden md:block">
                            <span class="text-white" *ngIf="!editUser">{{currentUser?.bio}}</span>
                            <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" [formControl]="UserBioFormControl" style="margin:6px;color:black" *ngIf="editUser"
                                placeholder="Enter your bio here" />
                            <p class="text-white" style="color: #000;">Joined on {{currentUser?.created}}</p>
                        </div>

                    </div>

                    <!-- user meta form small screens -->
                    <div class="md:hidden text-sm my-2">
                        <!-- <h1 class="font-semibold">Mr Travlerrr...</h1> -->
                        <span *ngIf="!editUser" class="text-white">{{currentUser?.bio}}</span>

                        <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" [formControl]="UserBioFormControl" style="margin:6px" *ngIf="editUser" placeholder="Enter your bio here" />

                    </div>

                </header>

                <!-- posts -->
                <div class="px-px md:px-3">

                    <!-- user following for mobile only -->
                    <ul class="flex md:hidden justify-around space-x-8 border-t 
                  text-center p-2 text-gray-600 leading-snug text-sm">
                        <li style="color:grey">
                            <span class="font-semibold text-white">0</span>
                            posts
                        </li>

                        <li style="color:grey">
                            <span class="font-semibold text-white">{{currentUser?.friends?.length}}</span>
                            friends
                        </li>
                        <!-- <li style="color:grey">
                    <span class="font-semibold text-white">302</span>
                    following
                </li> -->
                    </ul>

                    <!-- insta freatures -->
                    <ul class="flex items-center justify-around md:justify-center space-x-12  
                      uppercase tracking-widest font-semibold text-xs text-gray-600
                      border-t">
                        <!-- posts tab is active -->
                        <li [class.md:border-t]="selectedTabIndex === 0" [class.md:border-gray-700]="selectedTabIndex === 0"
                        [class.md:-mt-px]="selectedTabIndex === 0" [class.md:text-white-700]="selectedTabIndex === 0">
                            <a (click)="selectTab(0)" class="inline-block p-3">
                                <svg class="h-5 w-5 text-white" fill="none" viewBox="0 0 24 24" stroke="#000">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M17 8h2a2 2 0 012 2v6a2 2 0 01-2 2h-2v4l-4-4H9a1.994 1.994 0 01-1.414-.586m0 0L11 14h4a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2v4l.586-.586z" />
                                </svg>

                                <span class="hidden md:inline">post</span>
                            </a>
                        </li>
                        <li [class.md:border-t]="selectedTabIndex === 1" [class.md:border-gray-700]="selectedTabIndex === 1"
                        [class.md:-mt-px]="selectedTabIndex === 1" [class.md:text-white-700]="selectedTabIndex === 1">
                            <a (click)="selectTab(1)" class="inline-block p-3" >
                                <svg class="h-5 w-5 text-white" viewBox="0 0 24 24" fill="none" stroke="#000"
                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <rect x="3" y="3" width="18" height="18" rx="2" ry="2" />
                                    <circle cx="8.5" cy="8.5" r="1.5" />
                                    <polyline points="21 15 16 10 5 21" />
                                </svg>
                                <span class="hidden md:inline">Gallery</span>
                            </a>
                        </li>

                    </ul>
                    <!-- flexbox grid -->
                    <div class="get-started-wrapper">
                        <h1 class="text-white padding-top-text" *ngIf="!myPosts"> You have no Posts currently</h1>
                        <!-- <app-no-posts-found></app-no-posts-found> -->
                        <div class="grid md:grid-cols-4 gap-4">
                            <div *ngIf="selectedTabIndex == 0">
                                <app-post-list [PromotePost]="true" [AllPosts]="myPosts" *ngIf="myPosts"></app-post-list>
                            </div>
                            <div *ngIf="selectedTabIndex == 1">
                                <ng-container *ngFor="let post of myPosts">
                                    <app-gallery-item [images]="post?.postImage"></app-gallery-item>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>