.content-tabs {
  height: 100% !important
}

.text-blue-600 {
  color: grey !important;
  border-color: grey;
}

/* Add styles for the active tab */
.active {
  color: #1da1f2!important; /* You can change the color to your preference */
  border-color: #1da1f2; /* You can change the border color to your preference */

  .text-blue-600{
      color: #1da1f2 !important;
      border-color: #1da1f2!important;
  }
}

/* Add styles for grayed-out tabs */
/* For example, make the text color gray */
.grayed-out {
  color: gray; /* You can change the color to your preference */
  border-color: gray; /* You can change the border color to your preference */
}

.mr-2{
  cursor: pointer;
}

.h-8{
  height:1.5rem;
  color: rgb(208, 208, 208)
}
.w-8{
  width:1.5rem
}

.border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
  background-color: #f9f9f9;
  border-radius: 32px;
}

.text-blue-600{
color: grey !important;
border-color: transparent;
}