.highlight-selected {
    border-color: #11ae23;
    background-color: #34c96d3b
}

.highlight-selected:hover {
    border-color: #11ae23;
    background-color: #34c96d3b
}

@media (min-width: 200px) and (max-width:450px) {
    .price-list-container {
        display: contents!important;
    }
}