.main-app-container{
    width:100%!important;
    // display:flex;
    justify-content: center;
    align-items: center;
    height:100%!important;
    align-content:center;
    min-height: 100vh;
    background-image: url("../../../assets/easimedicbackground.png");
}


.max-w-sm {
    max-width: 60rem!important;
}
.margin-topclass{
    margin-top:22px
}

.sign-up-text{
    margin-bottom:16px
}

.dropdown-container {
    margin-top: 12px;
    margin-bottom: 16px;
    background-color: #333d430d;
    padding: 12px;
    border-radius: 12px;
    border-width: 0.1px;
    border-color: #333d434d;
    /* padding: 2.5rem; */
}

.dropdown:hover .dropdown-menu {
    display: block;
  }
  
  .px-2 {
    /* padding-left: 0.5rem; */
    /* padding-right: 0.5rem; */
    margin-top: 39px!important;
    margin-bottom: 40px!important;
}

input.time {
    border-radius: 10px;
    border-width: 0.3px;
    margin-left: 9px;
    color: grey;
}
.start-time{
color:grey
}

.end-time{
    color:grey;
    padding-left:18px
}
   
.disabled{
    background-color: grey;
  }
.active{
    background-color: #1da1f2;;
  }

  .operating-hours{
    padding:6px;
    margin-top:16px
  }

  .scroll-container {
    display: flex;
    overflow-x: auto;
  }
  
  .card {
    flex: 0 0 auto;
    width: 200px;
    margin-right: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #e8e8e8;
    border-radius: 12px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(240,240,240,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(240,240,240,1);
    box-shadow: 10px 10px 5px 0px rgba(240,240,240,1);
  }
  
  .card.selected {
    background-color: lightblue;
  }
  
  .truck-img{
    width:85%;
    aspect-ratio: 3/2;
    object-fit: contain;
    mix-blend-mode: color-burn;
  }
  
  .date-of-birth {
    margin-bottom: 16px;
    padding-top: 5px;
    border-color: #fff;
    border-width: 1px;
    width: auto;
    padding-bottom: 4px;
    border-radius: 4px;
}

input#dob {
  border-color: grey;
  border-radius: 5px;
}

span.fee-per-km {
  font-weight: 800;
  color: #32b009;
  font-size: larger;
}

.md\:ml-16 {
   margin-left: 2px;
   cursor: pointer; 
}

.border-pink-600 {
  --tw-border-opacity: 1;
  border-color: #efefef;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(240,240,240,1);
-moz-box-shadow: 10px 10px 5px 0px rgba(240,240,240,1);
box-shadow: 10px 10px 5px 0px rgba(240,240,240,1);
}

.invalid{
  border-color:red;
  border-width:0.6px
}

.errors{
  margin-top:-12px;
  margin-bottom:6px
}