<!-- component -->
<div class="main-app-container">
    <div *ngIf="showRegisterNotification">
        <app-notification-show [errorNotification]="false" [successNotification]="true"
            [message]="'Account successfully registered.'"></app-notification-show>
    </div>
    <div class="bg-grey-lighter min-h-screen flex flex-col">
        <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
            <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
                
                <h1 class="text-xl font-medium text-gray-900 dark:text-white sign-up-text">Sign up</h1>
                <div class="md:w-3/12 md:ml-16" style="margin-bottom:16px">
                    <!-- profile image -->
                    <img (click)="triggerImageInput()" class="w-20 h-20 md:w-40 md:h-40 object-cover rounded-full
                   border-2 border-pink-600 p-1"
                        src="{{selectedImageString ? selectedImageString : 'https://t4.ftcdn.net/jpg/05/42/36/11/360_F_542361185_VFRJWpR2FH5OiAEVveWO7oZnfSccZfD3.jpg'}}"
                        alt="profile" style="color:white">
                    <input
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        #imageInput type="file" accept="image/*" multiple style="display: none"
                        (change)="onImageSelected($event)">
                </div>

                <input [formControl]="UsernameFormControl" type="text"
                    class="block border border-grey-light w-full p-3 rounded mb-4" name="username*"
                    placeholder="Username" />

                <input [formControl]="FullNamesFormControl" type="text"
                    class="block border border-grey-light w-full p-3 rounded mb-4" name="fullname*"
                    placeholder="Full Names" />

                <input [formControl]="SurnameFormControl" type="text"
                    class="block border border-grey-light w-full p-3 rounded mb-4" name="surname*"
                    placeholder="Surname" />
                <div class="date-of-birth">
                        <label for="dob">Date of Birth:</label>
                        <input class="dob" type="date" id="dob" name="dob" [(ngModel)]="dob">
                </div>

                <input [formControl]="PhoneFormControl" type="text"
                    class="block border border-grey-light w-full p-3 rounded mb-4" name="phone" placeholder="Phone*" />

                <input [formControl]="EmailFormControl" type="email"
                    class="block border border-grey-light w-full p-3 rounded mb-4" name="phone" placeholder="Email address*" />

                <input [formControl]="LocationFormControl" type="text"
                    class="block border border-grey-light w-full p-3 rounded mb-4" name="placess" placeholder="Enter your location" />
                
                    <div class="dropdown-container" >
                        <div class="col-span-2 sm:col-span-1">
                            <label for="category"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select Province
                            </label>
                            <select [formControl]="ProvinceCategoryContentFormControl" id="province"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                                <option value="Gauteng">Gauteng</option>
                                <option value="Western Cape">Western Cape</option>
                                <option value="Kwazulu Natal">Kwazulu Natal</option>
                                <option value="Limpopo">Limpopo</option>
                                <option value="Free State">Free State</option>
                                <option value="Mpumalanga">Mpumalanga</option>
                                <option value="Eastern Cape">Eastern Cape</option>
                                <option value="North West">North West</option>
                                <option value="Northern Cape">Northern Cape</option>
                            </select>
                        </div>
                    </div>

                <div class="dropdown-container">

                    <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Short bio
                        about you</label>
                    <textarea [formControl]="BioFormControl" id="message" rows="4"
                        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Write your thoughts here..."></textarea>

                    <div *ngIf="selectedUserType === 'Service Provider'">
                        <h1 class="text-xl font-medium text-gray-900 dark:text-white sign-up-text"
                            style="margin-top:16px">
                            Please select below</h1>
                        <div *ngFor="let option of options"
                            class="flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700">
                            <input [formControl]="ServiceProviderTypeFormControl" [id]="option.id" type="radio"
                                value="{{ option.id }}" name="melachat-option"
                                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                                [checked]="selectedOption === option.id" (change)="onOptionChange(option.id)">
                            <label [formControl]="ServiceProviderTypeFormControl" [for]="option.id"
                                class="w-full py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                                {{ option.label }}
                            </label>
                        </div>

                    </div>
                </div>


                <div class="dropdown-container" *ngIf="selectedUserType === 'Service Provider' && providerType == 'Doctors'">
                    <div class="col-span-2 sm:col-span-1" *ngIf="providerType == 'Doctors'">
                        <label for="category"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select Doctor
                            category</label>
                        <select [formControl]="ServiceProviderCategoryContentFormControl" id="category"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                            <option selected="">Select Doctor category</option>
                            <option value="General Practioner">General Practioner</option>
                            <option value="Dentist">Dentist</option>
                            <option value="Physiotherapist">Physiotherapist</option>
                            <option value="Dietician">Dietician</option>
                            <option value="Dermatologists">Dermatologists</option>
                            <option value="Radiographer">Radiographer</option>
                            <option value="Therapist">Therapist</option>
                            <option value="Immunologists">Allergists/Immunologists</option>
                            <option value="Anesthesiologists">Anesthesiologists</option>
                            <option value="Cardiologists">Cardiologists</option>
                        </select>
                    </div>
                </div>

                <div class="dropdown-container" *ngIf="selectedUserType === 'Service Provider' && providerType == 'Sangoma'">
                    <div class="col-span-2 sm:col-span-1" *ngIf="providerType == 'Sangoma'">
                        <label for="category"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select Sangoma
                            category</label>
                        <select [formControl]="ServiceProviderCategoryContentFormControl" id="category"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                            <option selected="">Select Sangoma category</option>
                            <option value="Healer">Healer</option>
                            <option value="prophet">Prophet</option>
                            <option value="herbalist">herbalist(Inyanga)</option>
                        </select>
                    </div>
                </div>

                <div class="dropdown-container" *ngIf="selectedUserType === 'Service Provider' && providerType == 'Emergency'">
                    <div class="col-span-2 sm:col-span-1" *ngIf="providerType == 'Emergency'">
                        <label for="category"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select Emergency Services
                            category</label>
                        <select [formControl]="ServiceProviderCategoryContentFormControl" id="category"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                            <option selected="">Select Emergency Services category</option>
                            <option value="privateAmbulance">Private Ambulance</option>
                            <option value="er24">ER24</option>
                        </select>
                    </div>
                </div>
                <div class="dropdown-container" *ngIf="selectedUserType === 'Service Provider' && providerType == 'Security'">
                    <div class="col-span-2 sm:col-span-1" *ngIf="providerType == 'Security'">
                        <label for="category"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select Security Services
                            category</label>
                        <select [formControl]="ServiceProviderCategoryContentFormControl" id="category"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                            <option selected="">Select Security Services category</option>
                            <option value="Police">Police (SAPS 10111)</option>
                            <option value="PrivateSecurity">Private Security</option>
                        </select>
                    </div>
                </div>

                <div class="dropdown-container" *ngIf="selectedUserType === 'Service Provider' && providerType == 'Security'">
                    <input [formControl]="StationNameFormControl" type="number"
                    class="block border border-grey-light w-full p-3 rounded mb-4" name="fullname*"
                    [placeholder]="providerCategory == 'Police' ? 'Add Station help-line number':'Add security help-line number'" />
                </div>

                <div class="dropdown-container" *ngIf="selectedUserType === 'Service Provider' && providerType == 'TowTrucks'">
                    <div class="col-span-2 sm:col-span-1" *ngIf="providerType == 'TowTrucks'">
                        <label for="category"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select Truck
                            category</label>
                            <div class="scroll-container">
                                <div class="card" *ngFor="let item of carItems" [class.selected]="item === selected" (click)="selectItem(item)">
                                    <img class="truck-img" src="{{item.src}}">
                                  <h3>{{ item.title }}</h3>
                                  <p>{{ item.description }}</p>
                                </div>
                              </div>
                    </div>
                </div>

                <div class="dropdown-container" *ngIf="selectedUserType === 'Service Provider' && providerType == 'TowTrucks'">
                    <input [formControl]="FeePerKmFormControl" type="number"
                    class="block border border-grey-light w-full p-3 rounded mb-4" name="fullname*"
                    placeholder="Add price(in rands) per 10km" />
                    <h1 *ngIf="feePerKm"><span class="fee-per-km">R{{feePerKm}} </span>per 10 km distance</h1>
                </div>
                <div class="dropdown-container" *ngIf="selectedUserType === 'Service Provider'">
                    <h1 class="text-xl font-medium text-gray-900 dark:text-white sign-up-text" style="margin-top:16px">
                        Please select operating hours</h1>
                    <div *ngFor="let day of daysOfWeek">
                        <h3>{{ day }}</h3>
                        <label class="start-time">Start Time:</label>
                        <input class="time" type="time" [(ngModel)]="workHours[day].start">
                        <label class="end-time">End Time:</label>
                        <input class="time" type="time" [(ngModel)]="workHours[day].end">
                        <!-- <button (click)="addHours(day, workHours[day].start, workHours[day].end)">Save Hours</button> -->
                    </div>

                    <h2 class="text-xl font-medium text-gray-900 dark:text-white sign-up-text" style="margin-top:16px">
                        Selected Work Hours</h2>
                    <div *ngFor="let day of getKeys(workHours)">
                        <p>{{ day }}: {{ workHours[day].start }} - {{ workHours[day].end }}</p>
                    </div>
                </div>

                <input [formControl]="PasswordFormControl" type="password"
                    class="block border border-grey-light w-full p-3 rounded mb-4" name="password"
                    placeholder="Password" />
                <input type="password" class="block border border-grey-light w-full p-3 rounded mb-4"
                    name="confirm_password" placeholder="Confirm Password" />

                <button
                    [ngClass]="bio == '' || bio == null || phone == '' || phone == null || password == '' || password == null ? 'disabled':'active'"
                    (click)="handleSignup()" type="submit"
                    class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 melachat-button-color">Create
                    Account</button>

                <div class="text-center text-sm text-grey-dark mt-4">
                    By signing up, you agree to the
                    <a class="no-underline border-b border-grey-dark text-grey-dark" href="#">
                        Terms of Service
                    </a> and
                    <a class="no-underline border-b border-grey-dark text-grey-dark" href="#">
                        Privacy Policy
                    </a>
                </div>
                <div class="text-sm font-medium text-gray-500 dark:text-gray-300 margin-topclass">
                    Already have an account?
                    <a class="text-blue-700 hover:underline dark:text-blue-500" (click)="GoToLogin()">
                        Log in
                    </a>.
                </div>
            </div>

            <div class="text-sm font-medium text-gray-500 dark:text-gray-300 margin-topclass">
                Already have an account?
                <a class="text-blue-700 hover:underline dark:text-blue-500" (click)="GoToLogin()">
                    Log in
                </a>.
            </div>
        </div>
    </div>
</div>