img.fill-current.flex-shrink-0.mr-5 {
    height: 60px;
    width: 60px;
    border-radius: 100%;
}

.max-w-2xl.mx-auto.bg-indigo-600.shadow-lg.rounded-lg {
    background-color: #333d43;
}

span.flex.items-center.h-6.px-3.text-xs.font-semibold.text-green-500.bg-green-100.rounded-full {
    width: fit-content !important;
}


.limit-text{
    display: -webkit-box;
overflow : hidden;
text-overflow: ellipsis;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;  /* Adjust the value to control the number of lines displayed */
    // -webkit-box-orient: vertical;
  }

  .location {
    color: #cfe8f9c2;
    text-decoration: underline;
    font-style: italic;
    font-size: 14px;
}