.child-max-w-sm {
    // max-width: 100%!important;
    /* width: 16rem !important; */
    height: 100% !important;
}

.limit-lines {
    display: -webkit-box;
//   -webkit-line-clamp: 4; /* Adjust the value to control the number of lines displayed */
  -webkit-box-orient: vertical;
  overflow: hidden;
  }

  .button-group{
    margin:12px
  }

  article{
    border-bottom: 13px;
    border-color: #333d4329;
    margin-top: 37px;
    border-width:0.4px;
    border-radius: 12px;
    padding:12px;
    background-color:#333d430d
  }

  
  .paragraph {
    margin-bottom: 10px; /* Adjust the margin-bottom as needed for spacing */
  }

  .hashtag {
    color: #1da1f2;
  }
  .url {
    color: #165aec;
    text-decoration: underline;
    cursor: pointer; 
  }

  span.post-icon-text{
    font-size: 11px;
    width: 100%;
    color: grey;
}

@media (min-width: 200px) and (max-width:450px){
article{
  border-bottom: 13px;
  border-color: #2e2c2c;
  margin-top: 37px;
  padding:10px
}}

.border-gray-200 {
  --tw-border-opacity: 1;
  border-color: #fff;
}
