.main-container {
    background-color: rgb(243, 243, 243) !important;
    height: 100% !important;
    min-height: 100vh;
    width: 100% !important;
    background-image: url("../../../assets//easimedicbackground.png");
}
.get-started-input {
    padding-left: 18px;
    padding-right: 18px;
}

@media screen and (min-width: 768px) {

    /* Apply these styles on screens larger than or equal to 768px wide (tablets and desktops) */
    .get-started {
        padding-left: 170px;
        padding-right: 170px;
    }
}

.container-center {
    width: 100% !important;
    align-items: center;
    justify-content: center;
    align-content: center;
    display: flex;
}

.search-container-center {
    width: 100% !important;
    align-items: center;
    justify-content: center;
    align-content: center;
    // display: flex;
}

.tab-content {
    padding: 12px;
    width: 100%
}

.get-started {
    padding: 22px;
}


@media screen and (min-width: 768px) {

    /* Apply these styles on screens larger than or equal to 768px wide (tablets and desktops) */
    .get-started {
        padding-left: 10px;
        padding-right: 10px;
    }
    .get-started-input {
        padding-left: 148px;
        padding-right: 148px;
    }
    .md\:grid-cols-4 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

.text-blue-600 {
    color: #1da1f2 !important;
}

.recommendations-row {
    display: flex;
    //   flex-wrap: no-wrap;   
    overflow-x: auto;

}

.app-new-friend-card {
    /* Add any styling you want for each child component here */
    margin-right: 10px;
    /* Optional margin between child components */
}

::ng-deep .max-w-sm {
    max-width: 16rem;
    width: 16rem !important;
    height: 100% !important //   min-width: 16rem!important;
}

span{
    cursor:pointer
}

.browse-friends-p{
    margin-bottom:18px!important
}

.h-8 {
    height: 3rem;
}
.w-8 {
    width: 3rem;
}
.friend-item{
    background-color: #3b3b3b2b!important;
    margin-bottom:3px;
    border-radius:6px;
    padding:16px;
}

.textarea #editor {
    height: 80px;
}

@media (min-width: 200px) and (max-width:450px) {
    .news-grid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .get-started{
        padding: 6px;
    }
  }

  .main-container {
    background-color: rgb(243, 243, 243) !important;
    height: 100% !important;
    min-height: 100vh;
    width: 100% !important;
    background-image: url("../../../assets//easimedicbackground.png");
}

.container-center {
    width: 100% !important;
    align-items: center;
    justify-content: center;
    align-content: center;
    display: flex;
}

.search-container-center {
    width: 100% !important;
    align-items: center;
    justify-content: center;
    align-content: center;
    // display: flex;
}

.tab-content {
    padding: 12px;
    width: 100%
}

.get-started {
    padding: 22px
}

@media screen and (min-width: 768px) {

    /* Apply these styles on screens larger than or equal to 768px wide (tablets and desktops) */
    .get-started {
        padding-left: 170px;
        padding-right: 170px;
    }
}

.text-blue-600 {
    color: #1da1f2 !important;
}

.recommendations-row {
    display: flex;
    //   flex-wrap: no-wrap;   
    overflow-x: auto;

}

.app-new-friend-card {
    /* Add any styling you want for each child component here */
    margin-right: 10px;
    /* Optional margin between child components */
}

::ng-deep .max-w-sm {
    max-width: 16rem;
    width: 16rem !important;
    height: 100% !important //   min-width: 16rem!important;
}

span{
    cursor:pointer
}

.browse-friends-p{
    margin-bottom:18px!important
}

.h-8 {
    height: 3rem;
}
.w-8 {
    width: 3rem;
}
.friend-item{
    background-color: #3b3b3b2b!important;
    margin-bottom:3px;
    border-radius:6px;
    padding:16px;
}