<ng-container>

    <h1 tabindex="-1" data-testid="header" class="text-header">Your appointments</h1>
    <div>
        <p class="vads-u-font-family--serif" data-testid="date-text">Here are your appointments for today: March 20,
            2023.</p>
        <ol class="vads-u-border-top--1px vads-u-margin-bottom--4 check-in--appointment-list appointment-list"
            data-testid="appointment-list" *ngFor="let appointment of appointments">
            <li class="vads-u-border-bottom--1px check-in--appointment-item" data-testid="appointment-list-item">
                <div class="check-in--appointment-summary vads-u-margin-bottom--2 vads-u-margin-top--2">
                    <div data-testid="appointment-time"
                        class="vads-u-font-size--h2 vads-u-font-family--serif vads-u-font-weight--bold">{{appointment?.datePosted}}</div>
                    <div data-testid="appointment-time"
                        class="vads-u-font-size--h2 vads-u-font-family--serif vads-u-font-weight--bold">Patient : {{appointment?.patientName}}</div>
                    <div data-testid="appointment-type-and-provider" class="vads-u-font-weight--bold">Mental health with
                        {{appointment?.doctorName}}</div>
                    <div  data-testid="appointment-type-and-provider" class="vads-u-font-weight--bold">Appointment status :
                        <span style="color:red">{{appointment?.status}}</span></div>
                    <div class="vads-u-display--flex vads-u-align-items--baseline">
                        <div data-testid="appointment-kind-and-location" class="vads-u-display--inline">In person at
                            {{appointment?.location}}<br> <span style="color:grey">{{appointment?.description}}</span></div>
                    </div>
                    <div class="row" style="margin-top:8px">
                        <button type="submit"
                            class="melachat-background-color inline-flex items-center px-5 py-2.5 text-sm font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-blue-800">
                            Approve
                        </button>
                        <button style="background-color:red" [style.marginLeft]="'6px'" type="submit"
                            class="melachat-background-color inline-flex items-center px-5 py-2.5 text-sm font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-blue-800">
                            Decline
                        </button>
                    </div>
                </div>
            </li>
        </ol>
        <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
    </div>
</ng-container>