li.vads-u-border-bottom--1px.check-in--appointment-item {
    padding: 6px;
    background-color: #fff;
    border-radius: 6px;
    border-color: grey;
    border-bottom: 2px;
    /* border-width: 2px; */
}

.vads-u-font-size--h2.vads-u-font-family--serif.vads-u-font-weight--bold {
    font-size: 28px;
    font-weight: 600;
}

h1.text-header {
    font-size: 36px;
    font-weight: 600;
}

p.vads-u-font-family--serif {
    padding: 6px;
}

.current-date{
    font-weight: 700;
    text-decoration: underline;
}